html
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    // Enable responsiveness on mobile devices
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
    title  {{ .Title }} · {{ .Site.Title }} 
    // CSS
    link(rel='stylesheet', type='text/css', href='{{ .Site.BaseURL }}/css/app.css')
    // Icons
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/apple-touch-icon-144-precomposed.png')
    link(rel='shortcut icon', href='/favicon.ico')
    // RSS
    link(href='{{ .RSSlink }}', rel='alternate', type='application/rss+xml', title='{{ .Site.Title }}')
    // Script
    script(src='{{ .Site.BaseURL }}/js/jquery.min.js')
    script(src='{{ .Site.BaseURL }}/js/main.min.js')
  body
    header
      h2
        a(href='{{ .Site.BaseURL }}/') {{ .Site.Title }}
      img.round(src='{{ .Site.BaseURL }}{{ .Site.Author.image }}')
      h3 {{ .Site.Author.name }}
      span A few Accomplishments
      nav.social-navigation
        ul
          | {{ if .Site.Author.twitter }}
          // Twitter
          li.navigation__item
            a(href='http://twitter.com/{{ .Site.Author.twitter }}', title='@{{ .Site.Author.twitter }} on Twitter')
              i.fa.fa-twitter
              span.label Twitter
          |  {{ end }} {{ if .Site.Author.bitbucket }}
          // Bitbucket
          li.navigation__item
            a(href='https://bitbucket.org/{{ .Site.Author.bitbucket }}', title='{{ .Site.Author.bitbucket }} on bitbucket')
              i.fa.fa-bitbucket
              span.label Bitbucket
          |  {{ end }} {{ if .Site.Author.github }}
          // github
          li.navigation__item
            a(href='https://github.com/{{ .Site.Author.github }}', title='{{ .Site.Author.github }} on github')
              i.fa.fa-github
              span.label Github
          |  {{ end }} 
          br
          |  {{ if .Site.Author.flickr }}
          // Flickr
          li.navigation__item
            a(href='http://www.flickr.com/photos/{{ .Site.Author.flickr }}/', title='{{ .Site.Author.flickr }} on flickr')
              i.fa.fa-flickr
              span.label Flickr
          |  {{ end }} {{ if .Site.Author.linkedin }}
          // Linkedin
          li.navigation__item
            a(href='http://no.linkedin.com/in/{{ .Site.Author.linkedin }}/en', title='Linkedin')
              i.fa.fa-linkedin
              span.label Linkedin
          |  {{ end }} {{ if .Site.Author.email }}
          // Email
          li.navigation__item
            a(href='mailto:{{ .Site.Author.email }}', title='Email {{ .Site.Author.email }}')
              i.fa.fa-envelope-o
              span.label Email
          |  {{ end }}
    main
      | {{ range .Data.Pages.GroupByDate "2006" }}
      section
        h2 {{ .Key }}
        ul#list
          | {{range .Pages }}
          article.post
            header
              h2
                a(href='{{ .Permalink }}') {{ .Title }} {{ if .Draft }}:: DRAFT{{end}}
              .post-meta {{ .Date.Format "2 Jan, 2006" }} - Lesezeit {{ .ReadingTime }} Min 
            .summary
              | {{ .Summary }}
            footer
              a(href='{{ .Permalink }}')
                nobr Read more →
          |         {{ end }}
      |     {{ end }}
    aside
    footer
      p
        | {{ .Site.Copyright }}
