{{ partial "header.html" . }}
    <main>
        <h1>
            {{ .Title }}
        </h1>
        {{ range .Data.Pages.GroupByDate "2006" }}
	<h2>{{ .Key }}</h2>
	<ul id="list">
	    {{range .Pages }}
	    <li>
	        <a href="{{ .Permalink }}">{{ .Title }} {{ if .GetParam "draft"}}DRAFT{{end}}</a>
	        <div class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
            {{ if .Summary }}    
            {{ .Summary }}
            {{ end }}
	    </li>
	    {{ end }}
	</ul>
	{{ end }}
    </main>
{{ partial "footer.html" . }}
