<!-- FOOTER-->
<!--<div class="wrapper-for-content-outside-of-footer">-->
<!--Uncomment this whole section for a sticky footer. The content of the page should be inside of this .wrapper-for-content-outside-of-footer-->
<!--</div>-->
<footer class="footer" role="contentinfo">
  <div class="footer-info">
    <div class="footer-left">
      <ul>
        <li><a href="javascript:void(0)">About</a></li>
        <li><a href="javascript:void(0)">Contact</a></li>
      </ul>
    </div>
    <div class="footer-right">
      <ul>
        <li><a href="{{ .Site.BaseURL }}impressum">Impressum und Disclaimer</a></li>
        <li><a href="{{ .Site.BaseURL }}datenschutz">Datenschutz</a></li>
      </ul>
    </div>
  </div>
  <div class="licence">
    <p>Sofern nicht anders angegeben befinden sich die Inhalte unter der <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Namensnennung 4.0 International Lizenz<img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png"></a></p>
  </div>
</footer>
</body>
<script src="js/dist.js"></script>


<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="{{ .Site.Params.matomo.url }}";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '{{ .Site.Params.matomo.id }}']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->


</html>
