<!DOCTYPE html>
<html lang="" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> {{ .Title }} &middot; {{ .Site.Title }} </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/app.css">
    <!-- Icons -->
    <!-- Place favicon.ico in the root directory-->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- RSS -->
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <!-- External fonts -- PLEASE REMOVE ---->
    <link href="//fonts.googleapis.com/css?family=Questrial" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Sanchez:400italic,400" rel="stylesheet" type="text/css">
    <script src="{{ .Site.BaseURL }}/js/vendor/modernizr-2.8.3.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 8]>
    browserupgrade You are using an strong outdated browser.
    Please a(href='http://browsehappy.com/') upgrade your browser to improve your experience.
    <!--[endif]-->
    <input id="togglenav" type="checkbox">
    <section id="header">
      <div id="mobile-nav">
        <label id="togglenav-lable" for="togglenav">Menu</label>
        <h1>Calyrium.org</h1>
      </div>
        <header>
          <a href="{{ .Site.BaseURL }}">
            <div class="avatar">
              <image id="profile-img" src="/img/profile.jpg" class="round"></image>
            </div>
            <div class="name">
              <h1>Calyrium.org</h1>
              <p>@Kreativmonkey</p>
              <ul class="social">
                <li><a href="https://www.facebook.com/{{ .Site.Params.facebook }}"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook"></a></li>
                <li><a href="https://www.twitter.com/{{ .Site.Params.twitter }}"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter"></a></li>
                <li><a href="https://www.youtube.com/channel/{{ .Site.Params.youtube }}"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube"></a></li>
                <li><a href="https://www.github.com/{{ .Site.Params.github }}"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/github-logo-circle.png" alt="YouTube"></a></li>
              </ul>
            </div>
          </a>
        </header>
      <nav role="navigation" id="main-nav">
        <ul class="navigation">
          <li> <a href="{{ .Site.BaseURL }}" class="active">Blog</a></li>
          <li> <a href="#">Impressum</a></li>
        </ul>
      </nav>
    </section>
