<!-- copy pasted from  tpl/template_embedded.go -->
<!-- default pagination.html creates <ul class="pagination"> and then a list of links for counters, forwardw and backward
     while Octopress uses <div class="pagination"> and links inside-->

{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<div class="pagination">
  <ul>
    {{ if $pag.HasPrev }}
    <!-- <a href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}" aria-label="Previous" class="label-pagination"><span aria-hidden="true">&laquo;</span></a> -->
        <li class="page-prev"><a href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}" aria-label="Previous" class="label-pagination">Prev</a></i>
    {{ end }}
    <li>
      <ul>
        {{ range $pag.Pagers }}
          <li><a href="{{ .URL }}" class="lable-pagination">{{ .PageNumber }}</a></li>
        {{ end }}
      </ul>
    </li>
    {{ if $pag.HasNext }}
    <!-- <a href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}" aria-label="Next" class="label-pagination"><span aria-hidden="true">&raquo;</span></a> -->
        <li class="page-next"><a href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}" aria-label="Next" class="label-pagination">Next</a></li>
    {{ end }}
  </ul>
</div>
{{ end }}
